---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2023 - Actualmente...",
    title: "Estudios Superior en Computación e Informática",
    company: "Cibertec",
    image: "/cibertec2.webp",
    description:
      "Durante mi formación, he desarrollado habilidades en programación, bases de datos y desarrollo web, utilizando tecnologías como HTML, CSS, Bootstrap, Java, Spring Boot, C#, Entity Framework, SQL, MySQL, MongoDB, React, TailwindCSS y TypeScript. Mi enfoque ha sido aplicar estos conocimientos en proyectos prácticos y resolver problemas reales, fortaleciendo mi capacidad para aprender nuevas tecnologías y trabajar en equipo.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
